.menu {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #6B7A8F;
}

li a {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li  a:hover, .active {
  background-color: #F7882F;
}

body {
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 96%;
  overflow-x: auto;
  margin: auto;
}

th {
  background-color: #F7C331;
  color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover {
  background-color: #DCC7AA;
}
